<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>
  <thead>
    <tr>
<!--       <th>Title</th>
      <th>Body</th>
      <th>Published</th>
      <th>Image location</th>
      <th colspan="3"></th>
 -->    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.title, product%></td>
        <td><%= product.body %></td>
        <td><%= product.published %></td>
        <td><%= product.image_location %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# = link_to 'New Product', new_product_path %>
